<%- include("partials/navbar"); -%>
<%- include("partials/side-profile"); -%>

<div class="post__column home-grid">
  <h2><%=title%></h2>
  <p><%=content%></p>
</div>
</div>


<%- include("partials/footer"); -%>
