<%- include("partials/header"); -%>
<%- include("partials/side-profile"); -%>

<div class="col-8 post__column post__column">
  <h2><%=title%></h2>
  <p><%=content%></p>
</div>
</div>

</div>

<%- include("partials/footer"); -%>
